# # Blockchain Configuration
# CLUSTER=mainnet-beta
# RPC_URL=https://api.mainnet-beta.solana.com

# # Wallet Providers
# PRIVY_APP_ID=your_privy_app_id
# PRIVY_CLIENT_ID=your_privy_client_id
# DYNAMIC_ENVIRONMENT_ID=your_dynamic_env_id
# DYNAMIC_API_KEY=your_dynamic_api_key

# # Turnkey Wallet Configuration
# TURNKEY_BASE_URL=https://api.turnkey.com
# TURNKEY_RP_ID=host.exp.exponent
# TURNKEY_RP_NAME=your_app_name
# TURNKEY_ORGANIZATION_ID=your_turnkey_organization_id
# TURNKEY_API_PUBLIC_KEY=your_turnkey_public_key
# TURNKEY_API_PRIVATE_KEY=your_turnkey_private_key

# # API Services
# HELIUS_API_KEY=your_helius_api_key
# TENSOR_API_KEY=your_tensor_api_key
# COINGECKO_API_KEY=your_coingecko_api_key
# BIRDEYE_API_KEY=your_birdeye_api_key
# OPENAI_API_KEY=your_openai_api_key

# # Backend Server
# SERVER_URL=http://192.168.1.70:8080

# Blockchain Configuration
CLUSTER=mainnet-beta
RPC_URL=https://api.mainnet-beta.solana.com

# Wallet Providers
PRIVY_APP_ID=cmgmo11sz019tld0cebj5wc1b
PRIVY_CLIENT_ID=client-WY6RbyAaRL8Qt9VE83YR82x3r35GLt2aJcFJYxdAoCjxZ
DYNAMIC_ENVIRONMENT_ID=aa43ed34-f6c7-4c11-872c-74e9e8bf0c84
DYNAMIC_API_KEY=dyn_nWA5yuXVL2nQxypgOt5VaRtrUzhXt7gtupFWgKr9gZpvw7J02o2rRcpK

# Turnkey Wallet Configuration
TURNKEY_BASE_URL=https://api.turnkey.com
TURNKEY_RP_ID=host.exp.exponent
TURNKEY_RP_NAME=solana-bags
TURNKEY_ORGANIZATION_ID=68dbca7e-99a0-46cb-bc97-4184a41744f3
TURNKEY_API_PUBLIC_KEY=039bca10d204a771c0d4852c974b71f95c1150781bb6ed0156d29067f80c72a982
TURNKEY_API_PRIVATE_KEY=2b3e55b29b383e2c4f22288dc7eaefaf491d5120a4df55126b0dc1285326ca3d

# Pinata IPFS
PINATA_JWT=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1c2VySW5mb3JtYXRpb24iOnsiaWQiOiI1NWRmYWY2NC1iNWMyLTRmOTAtYmZmZC1iOGU5OWVlMWU1Y2IiLCJlbWFpbCI6ImhhZml6YWF0aWthaGFtaWQ5NjVAZ21haWwuY29tIiwiZW1haWxfdmVyaWZpZWQiOnRydWUsInBpbl9wb2xpY3kiOnsicmVnaW9ucyI6W3siZGVzaXJlZFJlcGxpY2F0aW9uQ291bnQiOjEsImlkIjoiRlJBMSJ9LHsiZGVzaXJlZFJlcGxpY2F0aW9uQ291bnQiOjEsImlkIjoiTllDMSJ9XSwidmVyc2lvbiI6MX0sIm1mYV9lbmFibGVkIjpmYWxzZSwic3RhdHVzIjoiQUNUSVZFIn0sImF1dGhlbnRpY2F0aW9uVHlwZSI6InNjb3BlZEtleSIsInNjb3BlZEtleUtleSI6IjI5MDJhM2Y4OTZmMDEzMWRlNzY1Iiwic2NvcGVkS2V5U2VjcmV0IjoiYWI5N2MxMjM3ZDVmZjBmMmMyOGFjYzkzZDRkMTdmNGY0N2Y1NTYwZGI5ZTE5NjkxNWNlZGJhOWFlYzQ4MGQyYiIsImV4cCI6MTc4Nzc2Mzg5NX0.Zpi4AJsmgJDYnxSpUW1B5ei6qkCLmoXDlZNji9II3N4
PINATA_GATEWAY=apricot-main-centipede-70.mypinata.cloud
PINATA_SECRET=ab97c1237d5ff0f2c28acc93d4d17f4f47f5560db9e196915cedba9aec480d2b
PINATA_API_KEY=2902a3f896f0131de765

# API Services
HELIUS_API_KEY=863cf9a9-ec8a-49a3-9346-a4fe28ad2fa8
TENSOR_API_KEY=your_tensor_api_key
COINGECKO_API_KEY=CG-39W4FMBvYa1mc1fnt8XphpDe
BIRDEYE_API_KEY=5d6cec881d44422894f3a6ffe2c0a06d
# OPENAI_API_KEY=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

HELIUS_RPC_CLUSTER=devnet
HELIUS_STAKED_URL=https://devnet.helius-rpc.com/?api-key=863cf9a9-ec8a-49a3-9346-a4fe28ad2fa8
HELIUS_STAKED_API_KEY=863cf9a9-ec8a-49a3-9346-a4fe28ad2fa8
# Backend Server
SERVER_URL=http://192.168.1.67:8080
EXPO_PUBLIC_SERVER_URL=http://192.168.1.67:8080
# SERVER_URL=https://solana-bags-app-production.up.railway.app
# EXPO_PUBLIC_SERVER_URL=https://solana-bags-app-production.up.railway.app
EXPO_PUBLIC_DEV_MODE=true